.container {
  margin-inline-start: auto;
  margin-inline-end: auto;
  max-inline-size: 90%;
  font-family: sans-serif;
}

.heading {
  color: rebeccapurple;
}

.nav-links {
  display: flex;
  align-items: center;
  list-style: none;
  padding-inline-start: 0;
  padding-inline-end: 0;
}


.nav-link-item {
  padding-inline-end: 2em;
}

.nav-link-text {
  color: black;
}

.site-title {
  font-size: 3rem;
  color: gray;
  font-weight: 700;
  margin-inline-start: auto;
  margin-inline-end: auto;
  margin-block-start: 1em;
  margin-block-end: 1em;
}